OpenApi/obj/OpenAPI.csproj.nuget.g.props
OpenApi/obj/OpenAPI.csproj.nuget.g.targets
OpenApi/obj/openapiClient.cs
OpenApi/obj/project.assets.json
OpenApi/obj/project.nuget.cache
OpenApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OpenApi/obj/Debug/netcoreapp3.1/apphost.exe
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.AssemblyInfo.cs
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.AssemblyInfoInputs.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenAPI.assets.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.csproj.AssemblyReference.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.csproj.CopyComplete
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.csproj.CoreCompileInputs.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenAPI.csproj.FileListAbsolute.txt
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.dll
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.GeneratedMSBuildEditorConfig.editorconfig
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.genruntimeconfig.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.pdb
OpenApi/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OpenApi/obj/Release/netcoreapp3.1/apphost.exe
OpenApi/obj/Release/netcoreapp3.1/OpenApi.AssemblyInfo.cs
OpenApi/obj/Release/netcoreapp3.1/OpenApi.AssemblyInfoInputs.cache
OpenApi/obj/Release/netcoreapp3.1/OpenAPI.assets.cache
OpenApi/obj/Release/netcoreapp3.1/OpenApi.csproj.CopyComplete
OpenApi/obj/Release/netcoreapp3.1/OpenApi.csproj.CoreCompileInputs.cache
OpenApi/obj/Release/netcoreapp3.1/OpenAPI.csproj.FileListAbsolute.txt
OpenApi/obj/Release/netcoreapp3.1/OpenApi.dll
OpenApi/obj/Release/netcoreapp3.1/OpenApi.GeneratedMSBuildEditorConfig.editorconfig
OpenApi/obj/Release/netcoreapp3.1/OpenApi.genruntimeconfig.cache
OpenApi/obj/Release/netcoreapp3.1/OpenApi.pdb
openapinunit/obj/openapinunit.csproj.nuget.dgspec.json
openapinunit/obj/openapinunit.csproj.nuget.g.props
openapinunit/obj/openapinunit.csproj.nuget.g.targets
openapinunit/obj/project.assets.json
openapinunit/obj/project.nuget.cache
openapinunit/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.AssemblyInfo.cs
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.AssemblyInfoInputs.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.assets.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.AssemblyReference.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.CopyComplete
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.CoreCompileInputs.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.FileListAbsolute.txt
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.dll
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.GeneratedMSBuildEditorConfig.editorconfig
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.genruntimeconfig.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.pdb
openapinunit/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
openapinunit/obj/Release/netcoreapp3.1/openapinunit.AssemblyInfo.cs
openapinunit/obj/Release/netcoreapp3.1/openapinunit.AssemblyInfoInputs.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.assets.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.AssemblyReference.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.CopyComplete
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.CoreCompileInputs.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.FileListAbsolute.txt
openapinunit/obj/Release/netcoreapp3.1/openapinunit.dll
openapinunit/obj/Release/netcoreapp3.1/openapinunit.GeneratedMSBuildEditorConfig.editorconfig
openapinunit/obj/Release/netcoreapp3.1/openapinunit.genruntimeconfig.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.pdb
