OpenApi/obj/OpenAPI.csproj.nuget.g.props
OpenApi/obj/OpenAPI.csproj.nuget.g.targets
OpenApi/obj/openapiClient.cs
OpenApi/obj/project.assets.json
OpenApi/obj/project.nuget.cache
OpenApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OpenApi/obj/Debug/netcoreapp3.1/apphost.exe
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.AssemblyInfo.cs
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.AssemblyInfoInputs.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenAPI.assets.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.csproj.AssemblyReference.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.csproj.CopyComplete
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.csproj.CoreCompileInputs.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenAPI.csproj.FileListAbsolute.txt
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.dll
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.GeneratedMSBuildEditorConfig.editorconfig
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.genruntimeconfig.cache
OpenApi/obj/Debug/netcoreapp3.1/OpenApi.pdb
OpenApi/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OpenApi/obj/Release/netcoreapp3.1/apphost.exe
OpenApi/obj/Release/netcoreapp3.1/OpenApi.AssemblyInfo.cs
OpenApi/obj/Release/netcoreapp3.1/OpenApi.AssemblyInfoInputs.cache
OpenApi/obj/Release/netcoreapp3.1/OpenAPI.assets.cache
OpenApi/obj/Release/netcoreapp3.1/OpenApi.csproj.CopyComplete
OpenApi/obj/Release/netcoreapp3.1/OpenApi.csproj.CoreCompileInputs.cache
OpenApi/obj/Release/netcoreapp3.1/OpenAPI.csproj.FileListAbsolute.txt
OpenApi/obj/Release/netcoreapp3.1/OpenApi.dll
OpenApi/obj/Release/netcoreapp3.1/OpenApi.GeneratedMSBuildEditorConfig.editorconfig
OpenApi/obj/Release/netcoreapp3.1/OpenApi.genruntimeconfig.cache
OpenApi/obj/Release/netcoreapp3.1/OpenApi.pdb
openapinunit/obj/openapinunit.csproj.nuget.dgspec.json
openapinunit/obj/openapinunit.csproj.nuget.g.props
openapinunit/obj/openapinunit.csproj.nuget.g.targets
openapinunit/obj/project.assets.json
openapinunit/obj/project.nuget.cache
openapinunit/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.AssemblyInfo.cs
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.AssemblyInfoInputs.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.assets.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.AssemblyReference.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.CopyComplete
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.CoreCompileInputs.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.csproj.FileListAbsolute.txt
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.dll
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.GeneratedMSBuildEditorConfig.editorconfig
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.genruntimeconfig.cache
openapinunit/obj/Debug/netcoreapp3.1/openapinunit.pdb
openapinunit/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
openapinunit/obj/Release/netcoreapp3.1/openapinunit.AssemblyInfo.cs
openapinunit/obj/Release/netcoreapp3.1/openapinunit.AssemblyInfoInputs.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.assets.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.AssemblyReference.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.CopyComplete
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.CoreCompileInputs.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.csproj.FileListAbsolute.txt
openapinunit/obj/Release/netcoreapp3.1/openapinunit.dll
openapinunit/obj/Release/netcoreapp3.1/openapinunit.GeneratedMSBuildEditorConfig.editorconfig
openapinunit/obj/Release/netcoreapp3.1/openapinunit.genruntimeconfig.cache
openapinunit/obj/Release/netcoreapp3.1/openapinunit.pdb
x64/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
x64/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
x64/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
x64/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
x64/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
x64/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
x64/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
x64/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
x64/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
x64/Debug/netcoreapp3.1/Newtonsoft.Json.dll
x64/Debug/netcoreapp3.1/NuGet.Frameworks.dll
x64/Debug/netcoreapp3.1/nunit.engine.api.dll
x64/Debug/netcoreapp3.1/nunit.engine.dll
x64/Debug/netcoreapp3.1/nunit.framework.dll
x64/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
x64/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
x64/Debug/netcoreapp3.1/OpenApi.deps.json
x64/Debug/netcoreapp3.1/OpenApi.dll
x64/Debug/netcoreapp3.1/OpenApi.exe
x64/Debug/netcoreapp3.1/OpenApi.pdb
x64/Debug/netcoreapp3.1/OpenApi.runtimeconfig.dev.json
x64/Debug/netcoreapp3.1/OpenApi.runtimeconfig.json
x64/Debug/netcoreapp3.1/openapintest.deps.json
x64/Debug/netcoreapp3.1/openapintest.dll
x64/Debug/netcoreapp3.1/openapintest.pdb
x64/Debug/netcoreapp3.1/openapintest.runtimeconfig.dev.json
x64/Debug/netcoreapp3.1/openapintest.runtimeconfig.json
x64/Debug/netcoreapp3.1/openapinunit.deps.json
x64/Debug/netcoreapp3.1/openapinunit.dll
x64/Debug/netcoreapp3.1/openapinunit.pdb
x64/Debug/netcoreapp3.1/openapinunit.runtimeconfig.dev.json
x64/Debug/netcoreapp3.1/openapinunit.runtimeconfig.json
x64/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
x64/Debug/netcoreapp3.1/testhost.dll
x64/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
x64/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
x64/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
x64/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
x64/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
x64/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
.vs/openapitestdotnet/DesignTimeBuild/.dtbcache.v2
.vs/openapitestdotnet/v16/.suo
.vs/openapitestdotnet/v16/TestStore/0/000.testlog
.vs/openapitestdotnet/v16/TestStore/0/testlog.manifest
