.vs/openapitestdotnet/DesignTimeBuild/.dtbcache.v2
.vs/openapitestdotnet/v16/.suo
.vs/openapitestdotnet/v16/TestStore/0/000.testlog
.vs/openapitestdotnet/v16/TestStore/0/testlog.manifest
OpenApi/obj/
OpenApi/bin/
openapinunit/obj/
openapinunit/bin/
x64/Release/
.vs/openapitestdotnet/v16/TestStore/0/002.testlog
.vs/openapitestdotnet/config/applicationhost.config
.vs/openapitestdotnet/v16/TestStore/0/004.testlog
